// cross-browser implementations of css3 features
// based off css3please.com.

=box-round($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius

=box-shadow($h_offset: 0, $v_offset: 0, $blur: 5px, $color: #888)
  -moz-box-shadow: $h_offset $v_offset $blur $color
  -webkit-box-shadow: $h_offset $v_offset $blur $color
  box-shadow: $h_offset $v_offset $blur $color

=box-shadow-inset($h_offset: 0, $v_offset: 0, $arg1: 1px, $blur: 1px, $color: #888)
  -moz-box-shadow: inset $h_offset $v_offset $arg1 $blur $color
  -webkit-box-shadow: inset $h_offset $v_offset $arg1 $blur $color
  box-shadow: inset $h_offset $v_offset $arg1 $blur $color

=box-gradient($bg_color_start, $bg_color_end)
  background-color: $bg_color_start
  background-image: -moz-linear-gradient(top, $bg_color_start, $bg_color_end)
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $bg_color_start),color-stop(1, $bg_color_end))
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='$bg_color_start', EndColorStr='$bg_color_end')
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$bg_color_start', EndColorStr='$bg_color_end')"

