// stylesheet to test the sass bass stylesheets
@import reset
@import simple_mixins
@import css3please
@import css_buttons

// syntax highlighting
.comment
  color: #998

.selector
  color: navy

.property, .mixin
  font-weight: bold
  .arguments
    font-weight: normal

body
  +sans-serif
  width: 800px
  margin: 0 auto

.sample
  +box-round(5px)
  +paint(#ddd)
  +serif
  +relative
  +dim(auto, 100px)

.mixin-absolute
  +box-shadow
  +monospace
  +paint(#83A0B2)
  white-space: pre

.button.minimal
  width: 100px

.button.ios-blue
  +button-ios-blue
.button.ios-purple
  +button-ios-purple
.button.ios-yellow
  +button-ios-yellow
.button.minimal
  +button-minimal
.button.clean-gray
  +button-clean-gray
.button.clean-green
  +button-clean-green
.button.pale-blue
  +button-pale-blue
.button.blue-pill
  +button-blue-pill
.button.dribble
  +button-dribble
.button.slick-black
  +button-slick-black
.button.thoughtbot
  +button-thoughtbot
