=sans-serif
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif

=serif
  font-family: Georgia,"Times New Roman",Times,serif

=monospace
  font-family: 'Bitstream Vera Sans Mono', Courier, monospace

=inline-block
  display: inline-block

=block
  display: block

=inline
  display: inline

=absolute
  position: absolute

=relative
  position: relative

=position-tl($top, $left)
  +absolute
  top: $top
  left: $left

=position-tr($top, $right)
  +absolute
  top: $top
  right: $right

=paint($color)
  background-color: $color
  border: 1px solid darken($color, 10%)

=dim($width, $height)
  width: $width
  height: $height


