!!!
%html
  %head
    %title SassBass test page
    %link{:href => '/sassbass.css', :rel => :stylesheet, :type => 'text/css'}
  %body
    %h1 SassBass is a collection of useful sass files.
    %p 
      These are a collection of files I have gathered from around the web as well as popular CSS libraries converted into SASS format.

    %h2 reset.css
    %p This is a SASS version of the yahoo reset file.

    .button.ios-blue
      ios blue
    .button.ios-purple
      ios purple
    .button.ios-yellow
      ios yellow


    .button.minimal
      minimal
    .button.clean-gray
      clean gray
    .button.clean-green
      clean green
    .button.pale-blue
      pale blue
    .button.blue-pill
      blue pill
    .button.dribble
      dribble
    .button.slick-black
      slick black
    .button.thoughtbot{:disabled => :disabled}
      thoughtbot
